<div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-grid-small" uk-grid>

  {{> title }}

  <div>
    <div class="uk-card uk-card-default uk-padding-small">
      <ul class="uk-iconnav">
        <i class="fas fa-hand-holding-usd fa-3x" style="color:rgb(63, 160, 155)" title="Sign up" pos="bottom"
          uk-tooltip></i>
        <i class="fas fa-th-list fa-3x" style="color:green" title="Log in" pos="bottom" uk-tooltip></i>
      </ul>
    </div>
  </div>