{{> welcome-header }}

<div class="uk-section uk-flex uk-flex-middle">
  <div class="uk-grid uk-grid-stack">
    <div class="uk-width-5-6@m">
      <div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <form class="uk-form-stacked uk-text-left" action="/donate" method="POST">
          <div class="uk-grid uk-grid-stack">
            <div class="uk-width-1-2@m">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Enter amount</label>
                <div class="uk-form-controls">
                  <input class="uk-input" id="form-stacked-text" type="number" name="amount" placeholder="Euros">
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-form-label">Payment </div>
                <div class="uk-form-controls">
                  <label><input class="uk-radio" type="radio" name="method" value="paypal"> Paypal </label><br>
                  <label><input class="uk-radio" type="radio" name="method" value="direct"> Cash </label>
                </div>
              </div>
            </div>
            <div class=" uk-width-1-2@m">
              <div class="uk-margin uk-text-left">
                <div class="uk-form-label">Select Candidate </div>
                <div class="uk-form-controls ">
                  {{#each candidates }}
                  <label> <input class="uk-radio" type="radio" name="candidate" value="{{lastName}},{{firstName}}">
                    {{lastName}}, {{firstName}}</label> <br>
                  {{/each}}
                </div>
              </div>
              <div class="uk-margin">
                <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Donate</button>
              </div>
            </div>
          </div>
        </form>
        {{> error }}
      </div>
    </div>
  </div>
  <div class="uk-width-1-6@m uk-flex uk-flex-center uk-flex-middle">
    <img width="200" src="images/homer5.jpg">
  </div>
</div>