{{> welcomemenu title="Donation Services Inc." subTitle="Sign up or Log in" }}

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/homer2.png">
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small"> Help Me Run Springfield </h1>
      <p> Donate what you can now - No Bitcoins accepted! </p>
    </div>
  </div>
</div>