{{> welcomemenu title="Donation Services Inc." subTitle="Please Sign up"}}

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div>
      <img width="300" src="images/homer2.png">
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
        {{>signup-form}}
      </div>
    </div>
  </div>
</div>